#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

upstream {{ item.backend_name }} {
{%for balancer in item.balancer_config %}
{{ balancer|indent(4, true) }};
{% endfor %}

{% for backend in item.backends %}
    server {{ backend }};
{% endfor %}

}

server {
    listen 443;
    server_name {{ item.domains|join(' ') }};


    }

