---
- hosts: all
  remote_user: gandalf
  become: yes
  vars:
    - nginx_reverse_proxy_proxies:
      - config_name: homolog-revtur-org
        backend_name: homolog-revtur-org
        balancer_config: 
          - least_conn
          - ip_hash
        backends:
          - 192.168.1.111:80 max_fails=2
          - 192.168.1.148:80 max_fails=3 fail_timeout=30s
        domains:
          - homolog.revtur.org
        ##GERACAO DOS CERTIFICADOS
        ssl_certificate: /certificados/revtur.org/fullchain.pem
        ssl_certificate_key: /certificados/revtur.org/privkey.pem
         
  roles:
    - ansible-nginx-reverse-proxy
...
